body{
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: radial-gradient(#555, #111)
}

footer{
    font-size: 10px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif
}
/* Card Container CSS */
.container{
    overflow-x: auto;
    background: white;
    width: 90%;
    height: 80%;
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
    transition: all 1s ease;
}
.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Top Buttons CSS */
.btn{
    position: relative;
    height: 20px;
}
.btn span:nth-child(1){
    position: absolute;
    left: 10px;
    color: rgb(0, 0, 0, .7);
    transition: all 1s ease;
}
.btn span:nth-child(2){
    position: absolute;
    right: 30px;
    color: rgb(0, 0, 0, .7);
    transition: all 1s ease;
}
.btn span:nth-child(3){
    position: absolute;
    right: 10px;
    color: rgb(0, 0, 0, .7);
    transition: all 1s ease;
}
.btn .switch{
    right: 60px;
}


/* Image CSS */
.img{
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin: 20px auto auto auto;
    width: 120px;
    height: 120px;
    overflow: hidden;
    
}
.img img{
    width: 120px;
    height: auto;
}

/* User Data CSS*/
.data{
    position: relative;
    margin-top: 10px;
}
.data span{
    display: block;
}
.data span:nth-child(1){
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    transition: all 1s ease;
}
.data span:nth-child(2){
    font-size: 14px;
    font-weight: 900;
    text-align: center;
    color: #9b9b9b;
    font-family: 'Prompt',sans-serif;
    text-transform: uppercase;
    transition: all 1s ease;
}
.data span:nth-child(3){
    font-size: 14px;
    margin-top: 10px;
    font-weight: 900;
    text-align: center;
    color: #535353;
    font-family: 'Montserrat', sans-serif;
    transition: all 1s ease;
}
.tryhackme{
    position: relative;
    text-align: center;
}
/* Social Icon CSS*/
.social{
    position: relative;
    margin-top: 15px;
    text-align: center;
    transition: all 1s ease;
}
.label{
    font-weight: 60px;
    color: grey;
}
.social span{
    font-size: 20px;
    color: #808080;
    transition: all 1s ease;
}
.social span:nth-child(2){
    margin-left: 15px;
    margin-right: 15px;
    transition: all 1s ease;
}

/* Follow Button CSS*/
.button{
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    border-radius: 10px;
    background: skyblue;
    padding: 10px;
    width: 100px;
    text-align: center;
}
.button a{
    text-decoration: none;
    color: rgba(255, 255, 255, .8);
}
hr{
    display: block;
    margin-top: 15px;
}
/* Followers CSS*/
.stat{
    position: relative;
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
    text-align: center;
}

.stat .followers span:nth-child(1){
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin: auto auto 5px auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.stat .followers span:nth-child(1) img{
    width: 50px;
    height: auto;
}
.stat .followers span:nth-child(2){
    font-size: 25px;
    display: block;
    font-weight: 900;
    transition: all 1s ease;
}
.stat .followers span:nth-child(3){
    display: block;
    font-weight: bolder;
    color: #c2c6d6;
    transition: all 1s ease;
}

.stat .following span:nth-child(1){
    display: block;
    margin-left: 0;
    margin-right: 0;
    margin: auto auto 5px auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.stat .following span:nth-child(1) img{
    width: 50px;
    height: auto;
}
.stat .following span:nth-child(2){
    font-size: 25px;
    display: block;
    font-weight: 900;
    transition: all 1s ease;
}
.stat .following span:nth-child(3){
    display: block;
    font-weight: bolder;
    color: #c2c6d6;
    transition: all 1s ease;
}
/* Toggle Button */
.switch input[type=checkbox]{
    opacity: 0;
    width: 0;
    height: 0;
}
.switch{
    position: absolute;
    top: -2px;
    display: inline-block;
    width: 50px;
    height: 25px;
    border-radius: 20px;
}
.slider {
      position: absolute;
      width: 50px;
      border-radius: 20px;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #2196F3;
      -webkit-transition: .4s;
      transition: .4s;
}

.slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      top: 2px;
      border-radius: 50%;
      background-color: white;
      transition: .4s;
}
input:checked + .slider {
      background-color: #fff;
}
input:checked + .slider:before {
    background-color: #2196F3;
      transform: translateX(22px);
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-color: #000;
}

.text-container h1{
  font-size: 40px;
  color: rgba(225,225,225, .1);
  background-image: url("https://s31.postimg.cc/yaze1agjv/abstract-background-canvas-249798.jpg");
  background-repeat: repeat-x;
  background-position: bottom;
  background-sizxe: cover;
  -webkit-background-clip:text;
  animation: animate 15s linear infinite;
  text-align: center;
  margin-top: 0%;
  text-transform: uppercase;
  font-weight: 900;
}

  @keyframes animate {
    0%{
      background-position: left 0px top 10px;
    }
    40%{
      background-position: left 800px top 10px;
  }
